.todo__form {
    width: 100%;
    position: relative;
    }

  .todo__form-input {
    width: 100%;
    padding: 12px;
    border: 1px solid #989898;
    border-radius: 6px;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 15px;
  }

  .todo__form-input::placeholder{
    color: #bbbbbb;
    font-size: 18px;
  }
